'.source.tagger_script':
  'Comment':
    'prefix': 'noop'
    'body': '$noop($1)$2'
  '$if(if,then,else)':
    'prefix': 'if'
    'body': '$if(${1:if},${2:then},${3:else})$4'
  '$if2(a1,a2,a3,...)':
    'prefix': 'if2'
    'body': '$if($1)$2'
  '$lower(text)':
    'prefix': 'lower'
    'body': '$lower(${1:text})$2'
  '$upper(text)':
    'prefix': 'upper'
    'body': '$upper(${1:text})$2'
  '$left(text,num)':
    'prefix': 'left'
    'body': '$left(${1:text},${2:num})$3'
  '$right(text,num)':
    'prefix': 'right'
    'body': '$right(${1:text},${2:num})$3'
  '$matchedtracks()':
    'prefix': 'matchedtracks'
    'body': '$matchedtracks()$1'
  '$num(num,len)':
    'prefix': 'num'
    'body': '$num(${1:num},${2:len})$3'
  '$replace(text,search,replace)':
    'prefix': 'replace'
    'body': '$replace(${1:text},${2:search},${3:replace})$4'
  '$rsearch(text,pattern)':
    'prefix': 'rsearch'
    'body': '$rsearch(${1:text},${2:pattern})$3'
  '$rreplace(text,pattern,replace)':
    'prefix': 'rreplace'
    'body': '$rreplace(${1:text},${2:pattern},${3:replace})$4'
  '$in(x,y)':
    'prefix': 'in'
    'body': '$in(${1:x},${2:y})$3'
  '$inmulti(x,y)':
    'prefix': 'inmulti'
    'body': '$inmulti(${1:x},${2:y})$3'
  '$unset(name)':
    'prefix': 'unset'
    'body': '$unset(${1:name})$2'
  '$set(name,value)':
    'prefix': 'set'
    'body': '$set(${1:name},${2:value})$3'
  '$setmulti(name,value,separator="; ")':
    'prefix': 'setmulti'
    'body': '$setmulti(${1:name},${2:value})$3'
  '$get(name)':
    'prefix': 'get'
    'body': '$get(${1:name})$2'
  '$copy(new,old)':
    'prefix': 'copy'
    'body': '$copy(${1:new},${2:old})$3'
  '$copymerge(new,old)':
    'prefix': 'copymerge'
    'body': '$copymerge(${1:new},${2:old})$3'
  '$trim(text[,char])':
    'prefix': 'trim'
    'body': '$trim(${1:text})$2'
  '$add(x,y)':
    'prefix': 'add'
    'body': '$add(${1:x},${2:y})$3'
  '$sub(x,y)':
    'prefix': 'sub'
    'body': '$sub(${1:x},${2:y})$3'
  '$div(x,y)':
    'prefix': 'div'
    'body': '$div(${1:x},${2:y})$3'
  '$mod(x,y)':
    'prefix': 'mod'
    'body': '$mod(${1:x},${2:y})$3'
  '$mul(x,y)':
    'prefix': 'mul'
    'body': '$mul(${1:x},${2:y})$3'
  '$or(x,y)':
    'prefix': 'or'
    'body': '$or(${1:x},${2:y})$3'
  '$and(x,y)':
    'prefix': 'and'
    'body': '$and(${1:x},${2:y})$3'
  '$not(x)':
    'prefix': 'not'
    'body': '$not(${1:x})$2'
  '$eq(x,y)':
    'prefix': 'eq'
    'body': '$eq(${1:x},${2:y})$3'
  '$ne(x,y)':
    'prefix': 'ne'
    'body': '$ne(${1:x},${2:y})$3'
  '$lt(x,y)':
    'prefix': 'lt'
    'body': '$lt(${1:x},${2:y})$3'
  '$lte(x,y)':
    'prefix': 'lte'
    'body': '$lte(${1:x},${2:y})$3'
  '$gt(x,y)':
    'prefix': 'gt'
    'body': '$gt(${1:x},${2:y})$3'
  '$gte(x,y)':
    'prefix': 'gte'
    'body': '$gte(${1:x},${2:y})$3'
  '$len(text)':
    'prefix': 'len'
    'body': '$len(${1:text})$2'
  '$performer(pattern="",join=", ")':
    'prefix': 'performer'
    'body': '$performer()$2'
  '$firstalphachar(text,nonalpha="#")':
    'prefix': 'firstalphachar'
    'body': '$firstalphachar(${1:text})$2'
  '$initials(text)':
    'prefix': 'initials'
    'body': '$initials(${1:text})$2'
  '$truncate(text,length)':
    'prefix': 'truncate'
    'body': '$truncate(${1:text},${2:length})$3'
  '$firstwords(text,length)':
    'prefix': 'firstwords'
    'body': '$firstwords(${1:text},${2:length})$3'
  '$swapprefix(text,*prefixes="a","the")':
    'prefix': 'swapprefix'
    'body': '$swapprefix(${1:text})$2'
  '$delprefix(text,*prefixes="a","the")':
    'prefix': 'delprefix'
    'body': '$delprefix(${1:text})$2'

  # Variables
  '%album%':
    'prefix': 'album'
    'body': '%album%'
  '%artist%':
    'prefix': 'artist'
    'body': '%artist%'
  '%title%':
    'prefix': 'title'
    'body': '%title%'
  '%date%':
    'prefix': 'date'
    'body': '%date%'
  '%originaldate%':
    'prefix': 'originaldate'
    'body': '%originaldate%'
  '%originalyear%':
    'prefix': 'originalyear'
    'body': '%originalyear%'
  '%albumartist%':
    'prefix': 'albumartist'
    'body': '%albumartist%'
  '%tracknumber%':
    'prefix': 'tracknumber'
    'body': '%tracknumber%'
  '%totaltracks%':
    'prefix': 'totaltracks'
    'body': '%totaltracks%'
  '%discnumber%':
    'prefix': 'discnumber'
    'body': '%discnumber%'
  '%totaldiscs%':
    'prefix': 'totaldiscs'
    'body': '%totaldiscs%'
  '%albumartistsort%':
    'prefix': 'albumartistsort'
    'body': '%albumartistsort%'
  '%artistsort%':
    'prefix': 'artistsort'
    'body': '%artistsort%'
  '%titlesort%':
    'prefix': 'titlesort'
    'body': '%titlesort%'
  '%albumsort%':
    'prefix': 'albumsort'
    'body': '%albumsort%'
  '%composersort%':
    'prefix': 'composersort'
    'body': '%composersort%'
  '%asin%':
    'prefix': 'asin'
    'body': '%asin%'
  '%grouping%':
    'prefix': 'grouping'
    'body': '%grouping%'
  '%isrc%':
    'prefix': 'isrc'
    'body': '%isrc%'
  '%mood%':
    'prefix': 'mood'
    'body': '%mood%'
  '%bpm%':
    'prefix': 'bpm'
    'body': '%bpm%'
  '%key%':
    'prefix': 'key'
    'body': '%key%'
  '%copyright%':
    'prefix': 'copyright'
    'body': '%copyright%'
  '%license%':
    'prefix': 'license'
    'body': '%license%'
  '%composer%':
    'prefix': 'composer'
    'body': '%composer%'
  '%writer%':
    'prefix': 'writer'
    'body': '%writer%'
  '%conductor%':
    'prefix': 'conductor'
    'body': '%conductor%'
  '%lyricist%':
    'prefix': 'lyricist'
    'body': '%lyricist%'
  '%arranger%':
    'prefix': 'arranger'
    'body': '%arranger%'
  '%producer%':
    'prefix': 'producer'
    'body': '%producer%'
  '%engineer%':
    'prefix': 'engineer'
    'body': '%engineer%'
  '%subtitle%':
    'prefix': 'subtitle'
    'body': '%subtitle%'
  '%discsubtitle%':
    'prefix': 'discsubtitle'
    'body': '%discsubtitle%'
  '%remixer%':
    'prefix': 'remixer'
    'body': '%remixer%'
  '%musicbrainz_recordingid%':
    'prefix': 'musicbrainz_recordingid'
    'body': '%musicbrainz_recordingid%'
  '%musicbrainz_trackid%':
    'prefix': 'musicbrainz_trackid'
    'body': '%musicbrainz_trackid%'
  '%musicbrainz_albumid%':
    'prefix': 'musicbrainz_albumid'
    'body': '%musicbrainz_albumid%'
  '%musicbrainz_artistid%':
    'prefix': 'musicbrainz_artistid'
    'body': '%musicbrainz_artistid%'
  '%musicbrainz_albumartistid%':
    'prefix': 'musicbrainz_albumartistid'
    'body': '%musicbrainz_albumartistid%'
  '%musicbrainz_workid%':
    'prefix': 'musicbrainz_workid'
    'body': '%musicbrainz_workid%'
  '%musicbrainz_releasegroupid%':
    'prefix': 'musicbrainz_releasegroupid'
    'body': '%musicbrainz_releasegroupid%'
  '%musicbrainz_discid%':
    'prefix': 'musicbrainz_discid'
    'body': '%musicbrainz_discid%'
  '%musicip_puid%':
    'prefix': 'musicip_puid'
    'body': '%musicip_puid%'
  '%musicip_fingerprint%':
    'prefix': 'musicip_fingerprint'
    'body': '%musicip_fingerprint%'
  '%acoustid_id%':
    'prefix': 'acoustid_id'
    'body': '%acoustid_id%'
  '%acoustid_fingerprint%':
    'prefix': 'acoustid_fingerprint'
    'body': '%acoustid_fingerprint%'
  '%discid%':
    'prefix': 'discid'
    'body': '%discid%'
  '%website%':
    'prefix': 'website'
    'body': '%website%'
  '%compilation%':
    'prefix': 'compilation'
    'body': '%compilation%'
  '%comment:%':
    'prefix': 'comment:'
    'body': '%comment:%'
  '%genre%':
    'prefix': 'genre'
    'body': '%genre%'
  '%encodedby%':
    'prefix': 'encodedby'
    'body': '%encodedby%'
  '%encodersettings%':
    'prefix': 'encodersettings'
    'body': '%encodersettings%'
  '%performer:%':
    'prefix': 'performer:'
    'body': '%performer:%'
  '%releasetype%':
    'prefix': 'releasetype'
    'body': '%releasetype%'
  '%releasestatus%':
    'prefix': 'releasestatus'
    'body': '%releasestatus%'
  '%releasecountry%':
    'prefix': 'releasecountry'
    'body': '%releasecountry%'
  '%label%':
    'prefix': 'label'
    'body': '%label%'
  '%barcode%':
    'prefix': 'barcode'
    'body': '%barcode%'
  '%catalognumber%':
    'prefix': 'catalognumber'
    'body': '%catalognumber%'
  '%djmixer%':
    'prefix': 'djmixer'
    'body': '%djmixer%'
  '%media%':
    'prefix': 'media'
    'body': '%media%'
  '%lyrics%':
    'prefix': 'lyrics'
    'body': '%lyrics%'
  '%mixer%':
    'prefix': 'mixer'
    'body': '%mixer%'
  '%language%':
    'prefix': 'language'
    'body': '%language%'
  '%script%':
    'prefix': 'script'
    'body': '%script%'
  '%_length%':
    'prefix': 'length'
    'body': '%_length%'
  '%_rating%':
    'prefix': 'rating'
    'body': '%_rating%'
  '%artists%':
    'prefix': 'artists'
    'body': '%artists%'
  '%work%':
    'prefix': 'work'
    'body': '%work%'
